
{% form_theme sceneForm 'bootstrap_4_layout.html.twig' %}

<div class="row">
        <div class="col form-col">
                {{ form_start(sceneForm) }}
                {{ form_widget(sceneForm)}}

        </div>
        <div class="col form-col">
                <h4 class="ma">Chose a scene type</h4>

                {{ form_start(clueForm) }}
                {{ form_widget(clueForm) }}

                <button class="btn btn-primary">Save changes</button>
                {{ form_end(clueForm) }}
                {{ form_end(sceneForm) }}
        </div>

</div>



