{% extends 'base.html.twig' %}

{% block title %}Clue index{% endblock %}

{% block body %}
    <h1>Clue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LetterPosition</th>
                <th>IntPosition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clue in clues %}
            <tr>
                <td>{{ clue.id }}</td>
                <td>{{ clue.name }}</td>
                <td>{{ clue.letterPosition }}</td>
                <td>{{ clue.intPosition }}</td>
                <td>
                    <a href="{{ path('clue_show', {'id': clue.id}) }}">show</a>
                    <a href="{{ path('clue_edit', {'id': clue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clue_new') }}">Create new</a>
{% endblock %}
