{% extends 'base.html.twig' %}

{% block title %}Clue{% endblock %}

{% block body %}
    <h1>Clue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clue.id }}</td>
            </tr>
            <tr>
                <th>Background</th>
                <td>{{ clue.background }}</td>
            </tr>
            <tr>
                <th>XAxis</th>
                <td>{{ clue.xAxis }}</td>
            </tr>
            <tr>
                <th>YAxis</th>
                <td>{{ clue.yAxis }}</td>
            </tr>
            <tr>
                <th>ClueName</th>
                <td>{{ clue.clueName }}</td>
            </tr>
            <tr>
                <th>ClueImg</th>
                <td>{{ clue.clueImg }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ clue.description }}</td>
            </tr>
            <tr>
                <th>SceneN</th>
                <td>{{ clue.sceneN }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('clue_index') }}">back to list</a>

    <a href="{{ path('clue_edit', {'id': clue.id}) }}">edit</a>

    {{ include('clue/_delete_form.html.twig') }}
{% endblock %}
