<div class="row">
    <div class="col form-col">
        {{ form_start(sceneForm) }}
        {{ form_widget(sceneForm)}}

    </div>
    <div class="col form-col">
        <h4 class="ma">Chose a scene type</h4>

        {{ form_start(dialogForm) }}
        {{ form_widget(dialogForm) }}

        <button class="btn btn-primary">Save changes</button>
        {{ form_end(dialogForm) }}
        {{ form_end(sceneForm) }}
    </div>

</div>
