{% extends 'base.html.twig' %}

{% block title %}Scene index{% endblock %}

{% block body %}
    <h1>Scene index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Background</th>
                <th>Description</th>
                <th>PreviousScene</th>
                <th>Dialog</th>
                <th>Investigation</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody class="dragContainer">
        {% for scene in scenes %}
            <tr class="draggable ma" draggable="true" position="{{ scene.id }}">
                <td>{{ scene.id }}</td>
                <td>{{ scene.background }}</td>
                <td>{{ scene.description }}</td>
                <td>{{ scene.previousScene }}</td>
                <td>{{ scene.dialog }}</td>
                <td>{{ scene.investigation }}</td>
                <td>
                    <a href="{{ path('scene_show', {'id': scene.id}) }}">show</a>
                    <a href="{{ path('scene_edit', {'id': scene.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('scene_new', {'id':game.id}) }}">Create new</a>
{% endblock %}
